<p><a href="{{ routes.root_url }}"><img src="{{ settings.site_logo_dark.src | img_url: '90x' }}" alt="{{ shop.name }}" title="Return to the home page"></a></p>
<nav aria-label="Main" itemscope itemtype="https://schema.org/SiteNavigationElement">
  <ul>
    {% for link in linklists.main-menu.links %}
      <li>
        {% assign child_list_handle = link.title | handleize %}
        {% if link.active %}
        <em title="You are here"><a href="{{ link.url }}">{{ link.title }}</a></em>
        {% else %}
        <a href="{{ link.url }}" class="{% if linklists[child_list_handle].links != blank %} btn-nav__parent{% endif %}">{{ link.title }}</a>
        {% endif %}
        {% if linklists[child_list_handle].links != blank %}
          <ul>
          {% for childlink in linklists[child_list_handle].links %}
            <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
          {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
    <li><a href="{{ routes.cart_url }}">Cart {{ cart.item_count }}</a></li>
    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        <li><a href="{{ routes.account_url }}">My account</a></li>
      {% endif %}
    {% endif %}
  </ul>
</nav>
