<!-- start {{ template }} -->
<h1>{{ 'general.404.title' | t }}</h1>
{% comment %} Search box, which auto-populates with the broken URL {% endcomment %}
<form method="get" action="{{ routes.search_url }}" role="search">
  <p>{{ 'general.404.subtext_html' | t }}</p>
  <p>Would you like to search for <span data-js="bad-url">something</span> instead?</p>
  <p>
    <label for="search-field-page">Search site</label>
    <input type="search" name="q" id="search-field-page" placeholder="Search site" role="search">
    <input type="submit" value="Search">
  </p>
</form>
{% comment %} While it's possible to get the URL using Liquid and request.path,
for cacheing reasons, it's better to do it with JavaScript {% endcomment %}
<script>
(function () {
  // The current path after the domain, made into a search query
  // Note: this does not use the querystring
  var searchTerms = window.location.pathname.replace(/-/g,' ').replace(/\//g,' ').replace(/_/g,' ');
  if (searchTerms !== '') {
    // Update the content above the form
    var elTerm = document.querySelector('[data-js="bad-url"]');
    if (elTerm) elTerm.innerHTML = '<strong>' + searchTerms + '</strong>';
    // Updating the form field
    var searchField = document.getElementById('search-field-page');
    if (searchField) searchField.value = searchTerms;
  }
})();
</script>

{% comment %} Last few blog posts {% endcomment %}
{% assign current_blog = "news" %} {% comment %} Name of the blog you want to pull articles from {% endcomment %}
{% assign article_count = 3 %} {% comment %} How many articles you want to show {% endcomment %}

{% if blogs[current_blog].articles.size > 0 %}
  <aside aria-label="Perhaps you'd like to read some recent articles...">
    <h2>Perhaps you'd like to read some recent articles...</h2>
    {% for article in blogs[current_blog].articles %}
      {% if forloop.index <= article_count %}
        <article aria-label="{{ article.title }}" itemscope itemtype="https://schema.org/NewsArticle">
          <p>
            {% if article.image == blank %}
              <img src="{{ 'article.jpg' | file_img_url: '400x200', crop: 'center' }}" itemprop="image" alt="{{ article.title }}">
            {% else %}
              <img src="{{ article.image.src | img_url: '400x200', crop: 'center' }}" itemprop="image" alt="{{ article.image.alt }}">
            {% endif %}
          </p>
          <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
          <meta itemprop="headline" content="{{ article.title }}">
          <meta itemprop="url" content="{{ shop.secure_url }}{{ article.url }}">

          {% if article.user.image %}
            <p><img src="{{ article.user.image | img_url: '50x50' }}" alt="{{ article.author }}"></p>
          {% endif %}
          <p>
            <strong itemprop="author">{{ article.author }}</strong>,
            <span itemprop="dateCreated">{{ article.created_at | time_tag: '%a, %b %d, %Y' }}</span>
          </p>
          {% if article.excerpt.size > 0 %}
            <div itemprop="abstract">{{ article.excerpt }}</div>
          {% else %}
            <p itemprop="abstract">{{ article.content | strip_html | truncatewords: 100 }}</p>
          {% endif %}
        </article>
      {% else %}
        {% break %}
      {% endif %}
    {% endfor %}
  </aside>
{% endif %}

<!-- end {{ template }} -->
