<!-- start {{ template }} -->
{% paginate blog.articles by 12 %}

  {% if current_tags %}
    {% capture blog_title %}{{ blog.title | link_to: blog.url }}: articles tagged <q>{{ current_tags.first }}</q>{% endcapture %}
  {% else %}
    {% capture blog_title %}{{ blog.title}}{% endcapture %}
  {% endif %}

  <h1>{{ blog_title }}</h1>

  {% if blog.all_tags.size > 0 %}
    <section aria-label="Tags">
      <h2>Tags</h2>
      <p>
        {% for tag in blog.all_tags %}
          {% if current_tags contains tag %}
            <strong>{{ tag }}</strong>
          {% else %}
            {{ tag | link_to_tag: tag }}
          {% endif %}
        {% endfor %}
      </p>
    </section>
  {% endif %}

    {% for article in blog.articles %}
    <article aria-label="{{ article.title }}" itemscope itemtype="https://schema.org/NewsArticle">
      <p>
        <a href="{{ article.url }}">
          {% if article.image == blank %}
            <img src="{{ 'article.jpg' | file_img_url: '400x200', crop: 'center' }}" itemprop="image" alt="{{ article.title }}">
          {% else %}
            <img src="{{ article.image | img_url: '400x200', crop: 'center' }}" itemprop="image" alt="{{ article.title }}">
          {% endif %}
        </a>
      </p>
      {% if article.tags.size > 0 %}
      <p itemprop="keywords">
        {% for tag in article.tags %}
          <a href="{{ blog.url }}/tagged/{{ tag | handle }}" title="Read more articles about {{ tag }}">{{ tag }}</a>
        {% endfor %}
      </p>
      {% endif %}
      <h3 itemprop="headline">{{ article.title }}</h3>
      <p><a href="{{ article.url }}" title="Read more about {{ article.title }}">Read more about {{ article.title }}</a></p>
      <meta itemprop="url" content="{{ shop.secure_url }}{{ article.url }}">
    </article>
  {% endfor %}

  {% if paginate.pages > 1 %}
    {% assign paginate = paginate %}
    <p>{% render 'pagination', paginate: paginate %}</p>
  {% endif %}

{% endpaginate %}
<!-- end {{ template }} -->
