<!-- start {{ template }} -->
{% paginate blog.articles by 12 %}

  {% if current_tags %}
    {% capture blog_title %}{{ blog.title | link_to: blog.url }}: articles tagged <q>{{ current_tags.first }}</q>{% endcapture %}
  {% else %}
    {% capture blog_title %}{{ blog.title}}{% endcapture %}
  {% endif %}

  <h1>{{ blog_title }}</h1>

  {% if blog.all_tags.size > 0 %}
    <section aria-label="Tags">
      <h2>Tags</h2>
      <p>
        {% for tag in blog.all_tags %}
          {% if current_tags contains tag %}
            <strong>{{ tag }}</strong>
          {% else %}
            {{ tag | link_to_tag: tag }}
          {% endif %}
        {% endfor %}
      </p>
    </section>
  {% endif %}

  {% for article in blog.articles %}
    {% render 'blogcta', article: article %}
  {% endfor %}

  {% if paginate.pages > 1 %}
    {% assign paginate = paginate %}
    <p>{% render 'pagination', paginate: paginate %}</p>
  {% endif %}

{% endpaginate %}
<!-- end {{ template }} -->
