<!-- start {{ template }} -->
<h1>Cart</h1>
{% render 'cart' %}
{% if cart.item_count > 0 %}
  <h2>Have you seen our collections?</h2>
  {%- for collection in collections -%}
    {%- if collection.image -%}
      {%- assign collection_image = collection.image -%}
    {%- elsif collection.products.first and collection.products.first.images != empty -%}
      {%- assign collection_image = collection.products.first.featured_image -%}
    {%- else -%}
      {%- assign collection_image = blank -%}
    {%- endif -%}

    <section aria-label="{{ collection.title }}">
      <a href="{{ collection.url }}">
        <h2>{{ collection.title }}</h2>
        <p><img src="{{ collection_image | img_url: '60x60', crop: 'center' }}" alt="{{ collection.title }}"></p>
      </a>
    </section>
  {%- endfor -%}
{% endif %}
<!-- end {{ template }} -->
