<!-- start {{ template }} -->
<h1>Cart</h1>

{% if cart.item_count > 0 %}
  <form action="{{ routes.cart_url }}" method="post" novalidate>
    <table>
      <thead>
        <th colspan="2">Prod</th>
        <th>Price</th>
        <th>Qty</th>
        <th>total</th>
      </thead>
      <tbody>
        {% for item in cart.items %}
          <tr>
            <td>
              <a href="{{ item.url | within: collections.all }}">
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td>
              <a href="{{ item.url }}">{{ item.product.title }}</a>
              {{ item.variant.title }}
              <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0">remove</a>
            </td>
            <td>{{ item.price | money }}</td>
            <td>
              <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
            </td>
            <td>
              {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
              {{ item.line_price | money }}
              {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      <p>sub total : {{ cart.total_price | money }}</p>
      <button type="submit" name="update">Update</button>
      <button type="submit" name="checkout">Checkout</button>
    </div>
  </form>

{% else %}
  <p>Your cart is empty. Have you seen our collections?</p>
  {%- for collection in collections -%}
    {%- if collection.image -%}
      {%- assign collection_image = collection.image -%}
    {%- elsif collection.products.first and collection.products.first.images != empty -%}
      {%- assign collection_image = collection.products.first.featured_image -%}
    {%- else -%}
      {%- assign collection_image = blank -%}
    {%- endif -%}

    <section aria-label="{{ collection.title }}">
      <a href="{{ collection.url }}">
        <h2>{{ collection.title }}</h2>
        <p><img src="{{ collection_image | img_url: '60x60', crop: 'center' }}" alt="{{ collection.title }}"></p>
      </a>
    </section>
  {%- endfor -%}
{% endif %}
<!-- end {{ template }} -->
