<!-- start {{ template }} -->
{% paginate search.results by 10 %}

  <section aria-label="Search{% if search.performed %} Results{% endif %}">
    <form action="{{ routes.search_url }}" method="get" role="search">
      <h1>Search{% if search.performed %} Results{% endif %}</h1>
      <p>
        <label for="search-field-page">Search site</label>
        <input type="search" name="q" id="search-field-page" placeholder="Search site" role="search" value="{{ search.terms | escape }}">
        <input type="submit" value="Search">
      </p>

      {% comment %}
      See shopify.dev/tutorials/use-advanced-query-parameters-in-shopify-online-store-search
      {% endcomment %}
      <details>
        <summary>Advanced search</summary>
        <fieldset>
          <legend>Product status:</legend>
          <p>
            <input type="radio" name="options[unavailable_products]" value="show" id="all-products" checked>
            <label for="all-products">All products</label>

            <input type="radio" name="options[unavailable_products]" value="hide" id="available-products">
            <label for="available-products">Only products in stock</label>
          </p>
        </fieldset>
        <fieldset>
          <legend>Search location:</legend>
          <p>
            <input type="radio" name="type" value="article,page,product" id="type-all" checked>
            <label for="type-all">Everywhere</label>

            <input type="radio" name="type" value="product" id="type-product">
            <label for="type-product">Products</label>

            <input type="radio" name="type" value="article" id="type-article">
            <label for="type-article">Articles</label>

            <input type="radio" name="type" value="page" id="type-page">
            <label for="type-page">Pages</label>
          </p>
        </fieldset>
        <fieldset>
          <legend>Word match:</legend>
          <p>If you select <em>loose</em>, a search for <q>micro</q> will match <q>microwave</q> and <q>microcomputer</q>.</p>
          <p>
            <input type="radio" name="options[prefix]" value="none" id="prefix-none" checked>
            <label for="prefix-none">Strict</label>

            <input type="radio" name="options[prefix]" value="last" id="prefix-last">
            <label for="prefix-last">Loose</label>
          </p>
        </fieldset>
      </details>
    </form>
  </section>

  {% if search.performed %}
    {% comment %} Some search results {% endcomment %}
    {% if search.results_count > 0 %}
      <section aria-label="Search result{% unless search.results_count == 1 %}s{% endunless %} for {{ search.terms | escape }}">
        <h2>
          {{search.results_count }}
          search result{% unless search.results_count == 1 %}s{% endunless %} for
          <q>{{ search.terms | escape }}</q>:
        </h2>
        {% for item in search.results %}
        <a href="{{ item.url | within: collection }}">
          <section aria-label="{{ item.title }}">
            <h3>{{ item.title }}</h3>
            <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
            {% if item.featured_image %}
              <p><img src="{{ item.featured_image.src | img_url: '130x130', crop: 'center' }}" alt="{{ item.title }}"></p>
            {% endif %}
          </section>
        </a>
        {% endfor %}
      </section>

    {% comment %} No search results {% endcomment %}
    {% else %}
      <section aria-label="No results for {{ search.terms | escape }}, I'm afraid">
        <h2>No results for <q>{{ search.terms | escape }}</q>, I'm afraid</h2>
        <p>Have you seen our collections?</p>
        {% for collection in collections %}
          <section aria-label="{{ collection.title }}">
            {% if collection.image %}
              {% assign collection_image = collection.image %}
            {% elsif collection.products.first and collection.products.first.images != empty %}
              {% assign collection_image = collection.products.first.featured_image %}
            {% else %}
              {% assign collection_image = blank %}
            {% endif %}

            <a href="{{ collection.url }}">
              <h3>{{ collection.title }}</h3>
              <p><img src="{{ collection_image | img_url: '60x60', crop: 'center' }}" alt="{{ collection.title }}"></p>
            </a>
          </section>
        {% endfor %}
    {% endif %}
  {% endif %}

  {% if paginate.pages > 1 %}
    {% assign paginate = paginate %}
    <p>{% render 'pagination', paginate: paginate %}</p>
  {% endif %}
{% endpaginate %}

{% comment %}
Unfortunately, the search liquid object doesn't return the value of "type" or "options[unavailable_products]"
so we'll need to pinch them from the querystring with JavaScript, in order to configure the advanced search
options accurately.
{% endcomment %}
<script>
(function () {
  // All the querystring
  var searchParams = {};
  location.search.substr(1).split("&").forEach(
      function(item) {
          searchParams[decodeURIComponent(item.split("=")[0])] = decodeURIComponent(item.split("=")[1]);
      }
  );
  var keys   = Object.keys(searchParams);
  var values = Object.values(searchParams);
  for (i = 0; i < keys.length; i++) {
    // Matching what's in the querystring to what's in the DOM
    var inputs = document.querySelectorAll('[name="' + decodeURI(keys[i]) + '"]');
    for (j = 0; j < inputs.length; j++) {
      var control = inputs[j];
      // Narrowing this down to just the matching checkboxes and radio buttons
      if (control.getAttribute('type') === 'radio' || control.getAttribute('type') === 'checkbox') {
        control.checked = (values[i] === control.value) ? true : false;
      }
    }
  }
})();
</script>
<!-- end {{ template }} -->
